<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">© 2024 Project by NkL</p>

    <div class="col-md-4 d-flex justify-content-center">
      <a
        href="https://t.me/NkL322"
        class="link-body-emphasis text-decoration-none me-2">
        <app-svg-icon
          iconName="telegram"
          viewBox="0 0 512 512"
          width="32px"
          height="32px"></app-svg-icon>
      </a>
      <a
        href="https://github.com/NkL708/django-pet"
        class="link-body-emphasis text-decoration-none">
        <app-svg-icon
          iconName="github"
          viewBox="0 -0.5 48 48"
          width="32px"
          height="32px"></app-svg-icon>
      </a>
    </div>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">Нашли ошибку?</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">Есть идея?</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">О проекте</a>
      </li>
    </ul>
  </footer>
</div>
