<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
  <button
    class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
    id="bd-theme"
    type="button"
    aria-expanded="false"
    data-bs-toggle="dropdown"
    aria-label="Toggle theme (dark)">
    <app-svg-icon
      [iconName]="(currentIcon$ | async)!"
      viewBox="0 0 16 16"
      width="1em"
      height="1em"
      class=""
      svgClasses="bi theme-icon-active"></app-svg-icon>
    <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
  </button>
  <ul
    class="dropdown-menu dropdown-menu-end shadow"
    aria-labelledby="bd-theme-text">
    <li>
      <button
        type="button"
        class="dropdown-item d-flex align-items-center"
        data-bs-theme-value="light"
        [class.active]="isActiveTheme('light') | async"
        [attr.aria-pressed]="isActiveTheme('light') | async"
        (click)="setTheme('light')">
        <app-svg-icon
          iconName="lightTheme"
          viewBox="0 0 16 16"
          width="1em"
          height="1em"
          class="me-2"
          svgClasses="bi opacity-50"></app-svg-icon>
        Светлая
        <app-svg-icon
          iconName="check"
          viewBox="0 0 16 16"
          width="1em"
          height="1em"
          class="ms-auto"
          svgClasses="bi"
          [ngClass]="{
            'd-none': !(isActiveTheme('light') | async)
          }"></app-svg-icon>
      </button>
    </li>
    <li>
      <button
        type="button"
        class="dropdown-item d-flex align-items-center active"
        data-bs-theme-value="dark"
        [class.active]="isActiveTheme('dark') | async"
        [attr.aria-pressed]="isActiveTheme('dark') | async"
        (click)="setTheme('dark')">
        <app-svg-icon
          iconName="darkTheme"
          viewBox="0 0 16 16"
          width="1em"
          height="1em"
          class="me-2"
          svgClasses="bi opacity-50"></app-svg-icon>
        Тёмная
        <app-svg-icon
          iconName="check"
          viewBox="0 0 16 16"
          width="1em"
          height="1em"
          class="ms-auto"
          svgClasses="bi"
          [ngClass]="{
            'd-none': !(isActiveTheme('dark') | async)
          }"></app-svg-icon>
      </button>
    </li>
    <li>
      <button
        type="button"
        class="dropdown-item d-flex align-items-center"
        data-bs-theme-value="auto"
        [class.active]="isActiveTheme('auto') | async"
        [attr.aria-pressed]="isActiveTheme('auto') | async"
        (click)="setTheme('auto')">
        <app-svg-icon
          iconName="systemTheme"
          viewBox="0 0 16 16"
          width="1em"
          height="1em"
          class="me-2"
          svgClasses="bi opacity-50"></app-svg-icon>
        Системная
        <app-svg-icon
          iconName="check"
          viewBox="0 0 16 16"
          width="1em"
          height="1em"
          class="ms-auto"
          svgClasses="bi"
          [ngClass]="{
            'd-none': !(isActiveTheme('auto') | async)
          }"></app-svg-icon>
      </button>
    </li>
  </ul>
</div>
