<div class="card mb-3 news-digest-item">
  <div class="card-body">
    <h1 class="card-title">Сводка за 2024-03-16</h1>
    <p class="card-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur
      asperiores tenetur, quasi fugiat reprehenderit ea atque assumenda esse,
      harum et nisi, soluta voluptas quo earum exercitationem. Repudiandae,
      aperiam? Natus, consequatur? Alias est et distinctio. Ipsa omnis delectus
      vitae mollitia accusamus eaque placeat sint fugiat natus facilis, libero
      recusandae dolore temporibus cupiditate perferendis dolorum quasi dolor
      aut. Sint, doloribus velit. Molestias!
    </p>
    <p class="card-text">
      <small class="text-muted">Дата публикации: 2024-03-16</small>
    </p>
    <a href="#" class="btn btn-primary">Читать полностью</a>
  </div>
</div>
